<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= link_to 'Show All', microposts_path, class: 'btn btn-primary' %>
<% else %>
  <p>No microposts available.</p>
<% end %>